.events {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .events .frame1 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 199px;
    margin-left: auto;
  }

  .events .frame2 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 481px;
    margin-left: auto;
  }
  
  .events .frame3 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 763px;
    margin-left: auto;
  }

  .events .frame-2 {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 218px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 22px 38px 22px 22px;
    position: absolute;
    top: 0;
    left: 324px;
    background-color: #E8EBF3;
    border-radius: 0px 32px 32px 0px;
  }
  
  .events .image {
    position: absolute;
    width: 324px;
    height: 262px;
    
  }
  
  

  .events .logo {
    display: block;
    position: absolute;
    width: 124px;
    height: 102px;
    object-fit: cover;
    top: 40px;
    left: 348px;
  }
  
  .events .back-button {
    position: absolute;
    width: 53px;
    height: 52px;
    top: 59px;
    left: 82PX;
  }

  .events .keyboard
  {
    position: absolute;
    width: 820px;
    height: 320px;
    top: 860px;
    left: 0;
  }



  .events .headline {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #A0A2A8;
    font-size: 32px;
  }

  .events .text1 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #A0A2A8;
    font-size: 17px;
    line-height: 26px;

  }

  .events .text2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #A0A2A8;
    font-size: 16px;
    line-height: 26px;

  }

  .events .text3 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #A0A2A8;
    font-size: 16px;
  }




  
  .events .box {
    position: relative;
    width: 692px;
    height: 384px;
    top: 398px;
    background-color: #b8c1dc;
    border-radius: 30px;
    box-shadow: 0px 4px 10px #b8c1dc;
  }
  
  .events .boxtext1 {
    position: absolute;
    width: 525px;
    top: 20px;
    left: 45px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #001150;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .events .closebutton {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 20px;
    left: 607px;
    object-fit: cover;
  }
  
  .events .whitebox {
    position: absolute;
    width: 601px;
    height: 271px;
    top: 76px;
    left: 45px;
    background-color: #f6f6f6;
    border-radius: 40px;
  }
  
  .events .boxtext2 {
    position: absolute;
    top: 16px;
    left: 42px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #888888;
    font-size: 22px;
  }
  
  .events .button {
    position: absolute;
    width: 180px;
    height: 65px;
    top: 194px;
    left: 405px;
    background-color: #132a7f;
    border-radius: 52px;
  }
  
  .events .boxtext3 {
    position: absolute;
    width: 106px;
    top: 8px;
    left: 37px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 31px;
    line-height: 44px;
  }








  
  .switch {
    position: absolute;
    margin-left: 620px;
    margin-top: 40px;
  }
  
  .switch > span {
    position: absolute;
    top: 15px;
    pointer-events: none;
    font-family: Calibri;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #fff;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #132B82;
  }
  
  .switch > span.on {
    padding-left: 2px;
    color: #fff;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #132B82;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 147px;
    height: 52px;
    background-color: #A1ACD0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 4); */
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #A1ACD0;
    
    -moz-border-radius: 60px;
    -ms-border-radius:60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 73px;
    background-color: #132B82;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 70px;
  }