
.events {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .events .frame1 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 199px;
    margin-left: auto;
  }

  .events .frame2 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 481px;
    margin-left: auto;
  }
  
  .events .frame3 {
    position: absolute;
    width: 656px;
    height: 262px;
    top: 763px;
    margin-left: auto;
  }

  .events .frame-2 {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 218px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 22px 38px 22px 22px;
    position: absolute;
    top: 0;
    left: 324px;
    background-color: #9da7cb;
    border-radius: 0px 32px 32px 0px;
  }
  
  .events .image {
    position: absolute;
    width: 324px;
    height: 262px;
    object-fit: cover;
  }




  button {
    display: flex;
    width: 250px;
    height: 73px;
    padding: 18px 16px;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 66px;
    border: 3px solid #132B82;
    box-shadow: 0px 4px 20px 0px rgba(19, 43, 130, 0.4);
    margin-top: 1066px;
    margin-left: 40px;
    color: #132B82;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  





  .events .createbox {
    top: 1066px;
    left: 0px;
    position: relative;
    width: 250px;
    height: 73px;
    background-color: #132b82;
    border-radius: 50px;
  }
  
  .events .create {
    position: absolute;
    width: 187px;
    top: 22px;
    left: 34px;
    font-family: "Arial";
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
  }

  


  .events .logo {
    display: block;
    position: absolute;
    width: 124px;
    height: 102px;
    object-fit: cover;
    top: 40px;
    left: 348px;
  }
  
  .events .back-button {
    position: absolute;
    width: 76px;
    height: 48px;
    top: 59px;
    left: 82PX;
  }






  .events .headline {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
  }

  .events .text1 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 17px;
    line-height: 26px;

  }

  .events .text2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    line-height: 26px;

  }

  .events .text3 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
  }

    
  .switch {
    position: absolute;
    margin-left: 620px;
    margin-top: 40px;
  }
  
  .switch > span {
    position: absolute;
    top: 15px;
    pointer-events: none;
    font-family: Calibri;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #fff;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #132B82;
  }
  
  .switch > span.on {
    padding-left: 2px;
    color: #fff;
  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #132B82;
  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 147px;
    height: 52px;
    background-color: #A1ACD0;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    /* box-shadow: inset 0 0 3px rgba(0, 0, 0, 4); */
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #A1ACD0;
    
    -moz-border-radius: 60px;
    -ms-border-radius:60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 73px;
    background-color: #132B82;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 70px;
  }

a{
    text-decoration: none;
  }